#startScreen {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#connect {
    margin-top: 50px;
}
#connectingMessage {
    display: none;
    margin-top: 10px;
}
#lobby {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lobby h1 {
    text-align: center;
}
#lobby button {
    margin-top: 10px;
}
#connectedUsers {
    margin-top: 10px;
}
#lobby-User-1, #lobby-User-2, #lobby-User-3, #lobby-User-4, #lobby-User-5,
#lobby-User-6, #lobby-User-7, #lobby-User-8, #lobby-User-9, #lobby-User-10 {
    display: none;
}
#gameArea {
    display: none;
}